body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.center-box {
  background-color: #ffffff;
  height: 30rem;
  width: 30rem;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-origin: center; /* Transformationsursache in der Mitte */
}

.center-box.shrink {
  transform: scale(0.2); /* Verkleinert den Kreis auf 20% der ursprünglichen Größe */
}

.center-box p {
  margin-bottom: 1rem;
  font-size: 20px;
  color: #333333;
}

.center-box button {
  padding: 10px 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.center-box button:hover {
  background-color: #0056b3;
}

.circle-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.circle-container .circle {
  position: absolute;
  background-color: #ffffff;
  border-radius: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease, transform 0.1s linear;
}

.info-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.info-window p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #333;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}

.github {
  color: #333;
}

.linkedin {
  color: #0077b5;
}